.footer {
    margin-top: 7rem;
    padding: 7rem 0;
    text-align: center;
}

.footer h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #fffffe;
}

@media (max-width: 768px) {

    .footer {
        margin-top: 3rem;
        padding: 3rem 0;
        text-align: center;
    }

    .footer h1 {
        font-size: 1.2rem;
    }
}