@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    user-select: none;
}

body {
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

a {
    color: #232946;
    text-decoration: none;
}
