.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: white;
}


.box {
    position: relative;
    width: 40rem;
    height: 30rem;
    border-radius: 5rem;
    background-color: dodgerblue;
    box-shadow: 0 0 1rem dodgerblue;
}

.red {
    background-color: orangered;
    box-shadow: 0 0 1rem orangered;
}

.green {
    background-color: forestgreen;
    box-shadow: 0 0 1rem forestgreen;
}

.nameInputContainer {
    margin-bottom: 20px;
}

#name {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .message {
        font-size: 1.2rem;
    }


    .box {
        width: 90vw;
        height: 30rem;
        border-radius: 3rem;
    }
}